#driver-info {
    padding: 15px 18px;
}

.driver-name {
    text-align: center;
    padding: 10px 8px;
    font-size: 30px;
}

.racer-data {
    font-size: 17px;
    padding: 5px 10px;
}

.driver-details-table {
    display: grid;
    grid-template-columns: 150px 150px;
    list-style: none;
    
}

.driver-details-table .header {
    background-color: black;
    color: white;
    padding: 10px;
    border-bottom: solid 1px lightgray;
}

.driver-details-table .cat {
    padding: 10px;
    border-bottom: solid 1px lightgray;
    background-color: darkgrey;
    color: black;
}

.driver-details-table .data {
    padding: 10px;
    border-bottom: solid 1px lightgray;
    background-color:;
    color: white;
}

table {
    margin: auto;
}

table thead {
    padding: 0px 8px;
}

table .data {
    padding: 0px 8px;
}