@font-face {
    font-family: formulaone;
    src: url(../css/Formula1-Regular.ttf);
}

* {
    font-family: formulaone;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased !important;
    font-size: 0.9rem;
    letter-spacing: 0.05px;
    color: #fff;
    background-color: #333;
    /* 
    background-image: url('https://media.giphy.com/media/dWHK2BzDqAQUnp5mHr/giphy.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
    */

}


.grid {
    width: 400px;
    display: grid;
    background-color: #ff1801;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }  
  