nav.menu{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4vh;
    background-color:  #262626;
}

nav .nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

#logo {
    width: 180px;
    fill: #ff1801;
}

.grid {
    display: grid;
    background-color: #ff1801;
  }