
div#lista-pilotos {
  width: 500px;
  margin: 15px;
  display: block;
  }

.lala {
  background-color: blue;
}

.title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table {
  border: 3px;
  width: 100%;
  padding-top: 30px;
}


table .car-number {
  text-align: center;
}
table .driver {
    text-align: left;
    padding: 3px 8px;
    vertical-align: middle;
  }

table thead {
    background-color: #666;
  }
