
#lista-pilotos {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

table {
  display: grid;
  min-width: 400px;
  padding-top: 30px;
}

div#lista-pilotos > h1 {
  align-self: auto;
}

table .car-number {
  text-align: center;
}
table .driver {
    text-align: left;
    padding: 3px 8px;
    vertical-align: middle;
  }

table thead {
    background-color: #666;
  }
  
